body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    user-select: none;
}

canvas[resize] {
    width: 100%;
    height: 100%;
}

#resizer {
    cursor: col-resize;
    width: 1px;
    background: grey;
}

#sidebar {
    width: 500px;
}

.colorCaps b {
    font-weight: bold;
    color: #FF5800;
}