<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TelemetryDashboard</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <div id="app" class="grid-y medium-grid-frame">
        <div class="cell shrink header medium-cell-block-container">
            <h3 v-if="track.data.Session"><b>A</b>valan <b>S</b>imracing <b>S</b>erver - {{ track.data.Name }} - Uptime {{ track.data.Session.CurrentTime }}</h3>
        </div>
        <div class="cell medium-auto grid-x">
            <div class="cell medium-auto">
                <canvas id="myCanvas" resize></canvas>
            </div>
            <div id="resizer" class="cell"></div>
            <div id="sidebar" class="cell">
                <table>
                    <thead>
                        <tr>
                            <th>P</th>
                            <th>Driver</th>
                            <th>Best Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="vehicle in track.vehicles">
                            <td>{{ vehicle.Place }}</td>
                            <td>{{ vehicle.DriverName }}</td>
                            <td>{{ vehicle.BestLapTime }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
